__pycache__/
venv/

.idea/
.bsp/
target/
project/

# verilator output
obj_dir/

# personal files
personal/

.DS_Store

# Apparently on some MacOS configurations this needs to be in the same directory
# as the invocation of uclid...?
# https://github.com/Z3Prover/z3/issues/4979
libz3.dylib
